@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background: white;
  font-family: 'Press Start 2P', cursive;
}

:root {
  --color-principal: rgb(231, 114, 202);
  --color-red: #e61919;
  --color-purple: #7a18ec;
  --color-white: #fff;
  --color-black-1: #111;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
}


.mi-boton {
  position: relative;
  width: 120px;
  height: 60px;
  margin: 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
  background: transparent;
  border: 1px solid var(--color-purple);
  transition: var(--speed-normal);
  overflow: hidden;
  line-height: 60px;
  text-align: center;
  padding: 0;
}

.mi-boton:hover {
  border: 1px solid transparent;
  background: var(--color-purple) url(https://i.postimg.cc/FzBWFtKM/pixel2.png);
  background-size: 180px;
  transition-delay: 0.8s;
  animation: animate var(--speed-fast) steps(8) forwards;
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: -480px;
  }
}

.borde-activo {
  border: 2px solid #7a18ec;
  padding: 20px;
}